<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0" />
    <link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet" />
    <script src="{{url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/foundation-sites/foundation.min.js')}}"></script>
    <script src="{{url_for('static', filename='javascript/main.js')}}"></script>
    <title>{% block title %}{% endblock %}</title>
  {% block head %}
  {% endblock %}
</head>
<body>
  <header role="banner"  class="expanded row">
    <div class="small-12 large-8 columns">
      <h1>
        <a href="{{url_for('index')}}">EU Legislation Wiki</a>
        <small class="product-status"><span>Alpha</span></small>
      </h1>
      <nav role="navigation">
        <p>
         {% if current_user.is_authenticated %}
            Signed in as {{current_user.name}}
            <a href="{{ url_for('security.logout') }}">(Sign out)</a>
          {% else %}
            {% if security.registerable %}
              <a href="{{ url_for('security.register') }}">Register</a>
              or 
              <a href="{{ url_for('security.login') }}">Login</a>
            {% else %}
              <a href="{{ url_for('security.login') }}">Login</a>
            {% endif %}
          {% endif %}
        </p>
        <ul class="menu">
          <li{% if menu_item == 'tools' or not menu_item %} class="active"{% endif %}>
            <a href="{{url_for('index')}}">Legislation</a>
          </li>
          <li{% if menu_item == 'tags'%} class="active"{% endif %}>
            <a href="{{url_for('tags')}}">Browse</a>
          </li>
<!--           <li{% if menu_item == 'about'%} class="active"{% endif %}>
            <a href="{{url_for('about')}}">About</a>
          </li> -->
        </ul>
      </nav>
    </div>
  </header>
  <main role="main">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="small-12 large-8 columns">
          {% for message  in messages %}
            <p>
              {{ message|safe }}&nbsp;
            </p>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </main>
  <footer>
    <div class="row">
      <div class="columns small-12 large-6">
        <p class="logo float-left">
          <a href="https://doteveryone.org.uk">
            <img src="{{url_for('static', filename='images/doteveryone-teal.svg')}}" alt="Doteveryone Logo"/>
          </a>
        </p>
        This is a project of <a aria-label="Dot everyone" href="https://doteveryone.org.uk">Doteveryone</a>. The <a href="https://github.com/Doteveryone/LegislationTagger">code</a> is available under a <a rel="license" href="http://www.gnu.org/licenses/agpl-3.0.en.html">GNU Affero General Public License</a> and content is reusable under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International licence</a>.
      </div>
    </div>
  </footer>
</body>