{% extends "base.html" %}
{% block title %}Doteveryone - Legislation Tagger{% endblock %}
{% block content %}
  <section class="row expanded">
    <div class="small-12 large-8 columns">
      <h2>Make sense of EU/UK legislation</h2>
      <p class="lead">
        The vast majority of EU legislation is enacted by Statutory Instrument under <a href="http://www.legislation.gov.uk/ukpga/1972/68/section/2">section 2(2) of the European Communities Act 1972 (UK)</a>.
      </p>
      <p class="lead">
        Many of these laws will need to be examined over the coming months, so <a href="https://doteveryone.org.uk">Doteveryone</a> has built Legislation Tagger to try and help make sense of it.
      </p>
      <h3>How it works</h3>
      <p>
        You read a <em>random</em> piece of legislation and record what policy areas you think it might cover and who it might affect.
      </p>
      {% if current_user.is_authenticated %}
      <p>
        <a href="{{url_for('random_legislation')}}" class="button">Tag a random bit of legislation</a>
      </p>
      <h3>Top taggers</h3>
      <ol>
        {% for count in edit_count %}
          <li>{{count.user.name}} ({{count.count}})</li>
        {% endfor%}
      </ol>
      {% else %}
        <p>
          <a href="{{ url_for('security.register') }}">Create an account to get started</a>
        </p>
        <p>
          <img alt="screenshot of how it works" src="{{url_for('static', filename='images/screen.png')}}">
        </p>
      {% endif %}
    </div>
  </section>
  
{% endblock %}