{% extends "base.html" %}
{% block title %}Doteveryone - Better Job Adverts{% endblock %}
{% block content %}
  <section class="row expanded">
    <div class="small-12 large-8 columns">
      {% if current_user.is_authenticated %}
        <a href="{{url_for('random_legislation')}}" class="button">Tag a random bit of legislation</a>
      {% endif %}
      <ul>
        {% for legislation in legislations %}
          <li>
            <a href="{{url_for('legislation', id=legislation.id)}}">{{legislation.title}}</a>
          </li>
        {% endfor %}
      </ul>    
    </div>  
  </section>
  
{% endblock %}