{% extends "base.html" %}
{% block title %}Browse tags{% endblock %}
{% block content %}
  <section class="row expanded">
    <div class="small-12 large-8 columns">
      <h2>Legislation tagged so far</h2>
        {% for tag in tags %}
          {% if loop.first or (tags[loop.index0 - 1].key !=  tags[loop.index0].key) %}
              <h3>{{tag.key}}</h3>
              <ul>
          {% endif %}
            <li>
              <a href="{{url_for('tag_browse', tag=tag.key + ':' + tag.value )}}">{{tag.value}}</a>
            </li>
          {% if loop.last or (tags[loop.index0 + 1].key !=  tags[loop.index0].key) %}
              </ul>
          {% endif %}

        {% endfor %}
    </div>  
  </section>
  
{% endblock %}