{% extends "base.html" %}
{% block title %}Doteveryone - Better Job Adverts{% endblock %}
{% block content %}
  <section class="row expanded">
    <div class="small-12 large-8 columns">
      <h2>Tags</h2>
        {% for tag in tags %}
          {% if loop.first or (tags[loop.index0 - 1].key !=  tags[loop.index0].key) %}
              <h3>{{tag.key}}</h3>
              <ul>
          {% endif %}
            <li>
              {{tag.value}}
            </li>
          {% if loop.last or (tags[loop.index0 + 1].key !=  tags[loop.index0].key) %}
              </ul>
          {% endif %}

        {% endfor %}
    </div>  
  </section>
  
{% endblock %}